{% extends 'websites/traffic.html' %} {% load static %} {% block content %}

<style>
    .upload-box {
        width: 200px;
        height: 200px;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;
        border: 2px solid #ccc;
        margin: 10px;
        position: relative;
    }

    .upload-box p {
        color: #888;
        font-size: 18px;
    }

    .upload-box:hover {
        background-color: #e0e0e0;
    }

    .file-input {
        display: none;
        /* Hide the default file input */
    }

    .image-preview {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .preview-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .results {
        margin-top: 20px;
    }

    #body {
        width: 90%;
        height: 90%;
        background-image: url("{% static 'images/junction.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        overflow: hidden;
    }


    * {
        padding: 0;
        box-sizing: border-box;
    }

    .traffic-light-container {
        position: absolute;
        width: 30px;
        height: 80px;
        background-color: #242323;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .light {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        background-color: red;
    }

    .off {
        background-color: red;
    }

    .on {
        background-color: green;
    }

    #tl3 {
        left: 780px;
        top: 298px;
    }

    #tl0 {
        left: 890px;
        top: 270px;
        transform: rotate(90deg);
    }

    #tl1 {
        left: 910px;
        top: 380px;
        transform: rotate(180deg);
    }

    #tl2 {
        left: 803px;
        top: 400px;
        transform: rotate(270deg);
    }

    #run {
        position: absolute;
        background-color: green;
        width: 30px;
        height: 30px;
        font-size: 24px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        position: absolute;
        top: 700px;
        left: 750px;
    }

    #uploadDiv1 {
        position: absolute;
        top: 80px;
        left: 250px;
    }

    #uploadDiv2 {
        position: absolute;
        top: 80px;
        left: 950px;
    }

    #uploadDiv3 {
        position: absolute;
        top: 450px;
        left: 1200px;
    }

    #uploadDiv4 {
        position: absolute;
        top: 450px;
        left: 550px;
    }

    #ss_btn {
        position: absolute;
        background-color: red;
        width: 60px;
        height: 50px;
        font-size: 24px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        position: absolute;
        top: 700px;
        left: 950px;

    }
</style>
<div class="body" id="body">
    <div class="upload-box" id="uploadDiv1" data-target="imageInput1">
        <p>Click to upload Image 1</p>
        <input type="file" id="imageInput1" class="file-input" accept="image/*" />
        <img id="preview1" class="image-preview" />
    </div>

    <div class="upload-box" id="uploadDiv2" data-target="imageInput2">
        <p>Click to upload Image 2</p>
        <input type="file" id="imageInput2" class="file-input" accept="image/*" />
        <img id="preview2" class="image-preview" />
    </div>

    <div class="upload-box" id="uploadDiv3" data-target="imageInput3">
        <p>Click to upload Image 3</p>
        <input type="file" id="imageInput3" class="file-input" accept="image/*" />
        <img id="preview3" class="image-preview" />
    </div>

    <div class="upload-box" id="uploadDiv4" data-target="imageInput4">
        <p>Click to upload Image 4</p>
        <input type="file" id="imageInput4" class="file-input" accept="image/*" />
        <img id="preview4" class="image-preview" />
    </div>

    <div class="results" id="results"></div>

    <form method="POST" enctype="multipart/form-data" action="{% url 'process_images' %}" id="uploadForm">
        {% csrf_token %}
        <!-- <button type="submit" id="s_btn">Upload Images</button> -->
    </form>

    <button id="ss_btn" onclick="s()">Uploads Images</button>


</div>


<script>

    let vehicles = [[], [], [], []];

    let v_c = [11, 12, 7, 13];

    if (v_c[0] > 7) v_c[0] = 7;





    function s() {
        let ss = document.getElementById("ss_btn");
        ss.innerText = "Uploaded Succefully";
    }
    let body = document.getElementById("body");

    class Car {
        constructor(id, start) {
            this.start = start;
            this.id = id;
            const car_bodies = ["{% static 'images/car1.png' %}", "{% static 'images/car2.png' %}", "{% static 'images/car3.png' %}", "{% static 'images/car4.png' %}", "{% static 'images/car5.png' %}"];
            // const car_bodies = ["car1", "car3", "car4", "car5"];
            this.car_body = car_bodies[Math.floor(Math.random() * car_bodies.length)];

            body.innerHTML += `<div class="car" id=${this.id} style="width: 50px; height: 30px; position: absolute; background-size:cover"></div>`;
            this.element = document.getElementById(this.id);
            // this.img = "{% static " + `${this.car_body}` + " %}";
            this.element.style.backgroundImage = "url('" + this.car_body + "')";
            this.border = null;
            this.crossed = 0;
            const directions = ["straight", "left", "right"];
            this.turning_side = directions[Math.floor(Math.random() * directions.length)];
            this.l = 0;
            this.turning_point = null;
            if (this.start === 'n') {

                for (let j = 0; j < vehicles[0].length; j++) {
                    if (vehicles[0][j].turning_side === this.turning_side || (vehicles[0][j].turning_side === "straight" && this.turning_side == "right") || (vehicles[0][j].turning_side === "right" && this.turning_side == "straight")) {
                        this.l++;
                    }
                }
                this.position = { x: 858, y: 250 - (this.l * 60) };
                if (this.turning_side === "left") {
                    this.position.x += 45;
                    this.turning_point = { x: this.position.x, y: 305 };
                }
                if (this.turning_side === "right") {
                    this.turning_point = { x: 858, y: 382 };
                }
                this.moving_axis = [0, 1];
                this.border = 251;



            } else if (this.start === 'e') {

                for (let j = 0; j < vehicles[1].length; j++) {
                    if (vehicles[1][j].turning_side === this.turning_side || (vehicles[1][j].turning_side === "straight" && this.turning_side == "right") || (vehicles[1][j].turning_side === "right" && this.turning_side == "straight")) {
                        this.l++;
                    }
                }
                this.position = { x: 950 + (this.l * 60), y: 382 };
                if (this.turning_side === "left") {
                    this.position.y += 45;
                    this.turning_point = { x: 900, y: this.position.y };
                }
                if (this.turning_side === "right") {
                    this.turning_point = { x: 815, y: 382 };
                }
                this.moving_axis = [-1, 0];
                this.border = 949;

            } else if (this.start === 's') {
                for (let j = 0; j < vehicles[2].length; j++) {
                    if (vehicles[2][j].turning_side === this.turning_side || (vehicles[2][j].turning_side === "straight" && this.turning_side == "right") || (vehicles[2][j].turning_side === "right" && this.turning_side == "straight")) {
                        this.l++;
                    }
                }
                this.position = { x: 815, y: 470 + (this.l * 60) };
                if (this.turning_side === "left") {
                    this.position.x -= 45;
                    this.turning_point = { x: this.position.x, y: 420 };
                }
                if (this.turning_side === "right") {
                    this.turning_point = { x: 815, y: 345 };
                }
                this.moving_axis = [0, -1];
                this.border = 549;

            } else if (this.start === 'w') {

                for (let j = 0; j < vehicles[3].length; j++) {
                    if (vehicles[3][j].turning_side === this.turning_side || (vehicles[3][j].turning_side === "straight" && this.turning_side == "right") || (vehicles[3][j].turning_side === "right" && this.turning_side == "straight")) {
                        this.l++;
                    }
                }
                this.position = { x: 725 - (this.l * 60), y: 345 };
                if (this.turning_side === "left") {
                    this.position.y -= 45;
                    this.turning_point = { x: 770, y: this.position.y };
                }
                if (this.turning_side === "right") {
                    this.turning_point = { x: 858, y: 345 };
                }
                this.moving_axis = [1, 0];
                this.border = 781;

            }

            this.interval = null;
            this.hasTurned = false;
            this.updateCSS();

            this.angle = Math.atan2(this.moving_axis[1], this.moving_axis[0]) * (180 / Math.PI);
            this.element.style.transform = `rotate(${this.angle}deg)`;
        }

        updateCSS() {
            this.element = document.getElementById(this.id);
            this.element.style.left = `${this.position.x}px`;
            this.element.style.top = `${this.position.y}px`;

            this.element.style.transform = `rotate(${this.angle}deg)`;


            // console.log(this.element.style.left, this.element.style.top, this.turning_point, this.id);
        }

        move(speed = 2) {
            if (this.interval) {
                clearInterval(this.interval);
            }
            this.interval = setInterval(() => {
                this.position.x += this.moving_axis[0] * speed;
                this.position.y += this.moving_axis[1] * speed;

                // console.log("speed:", this.position.x, this.position.y);
                this.v = Math.abs((this.position.x * this.moving_axis[0]) + (this.position.y * this.moving_axis[1]));

                if (this.start === "n") {

                    if (!this.crossed && (this.v > this.border)) {
                        this.crossed = 1;
                        v_c[0]--;
                    }


                    if (!this.hasTurned && this.crossed && (this.turning_side === "right") && (Math.abs(this.v - this.turning_point.y) < 60)) {
                        this.position.x -= 3;
                        this.angle += 3
                        console.log(this.angle)
                            ; if (this.angle === 180) {
                                this.hasTurned = true;
                                this.turn();
                            }
                    }

                } else if (this.start === "e") {
                    if (!this.crossed && (this.v < this.border)) {
                        this.crossed = 1;
                        v_c[1]--;
                    }

                    if (!this.hasTurned && this.crossed && (this.turning_side === "right") && (Math.abs(this.v - this.turning_point.y) < 60)) {
                        this.position.x -= 3;
                        this.angle += 3
                        console.log(this.angle)
                            ; if (this.angle === 180) {
                                this.hasTurned = true;
                                this.turn();
                            }
                    }


                } else if (this.start === "s") {
                    if (!this.crossed && (this.v < this.border)) {
                        this.crossed = 1;
                        v_c[2]--;
                    }

                    if (!this.hasTurned && this.crossed && (this.turning_side === "right") && (Math.abs(this.v - this.turning_point.y) < 60)) {
                        this.position.x += 3;
                        this.angle += 3
                        console.log(this.angle)
                            ; if (this.angle === 0) {
                                this.hasTurned = true;
                                this.turn();
                            }
                    }

                } else if (this.start === "w") {
                    if (!this.crossed && (this.v > this.border)) {
                        this.crossed = 1;
                        v_c[3]--;
                    }

                    if (!this.hasTurned && this.crossed && (this.turning_side === "right") && (Math.abs(this.v - this.turning_point.y) < 60)) {
                        this.position.x -= 3;
                        this.angle += 3
                        console.log(this.angle)
                            ; if (this.angle === 180) {
                                this.hasTurned = true;
                                this.turn();
                            }
                    }

                }



                if (!this.hasTurned && this.turning_point) {
                    if (Math.abs(this.position.x - this.turning_point.x) < 5 && Math.abs(this.position.y - this.turning_point.y) < 5) {
                        this.turn();
                        this.angle = Math.atan2(this.moving_axis[1], this.moving_axis[0]) * (180 / Math.PI);

                        // console.log("turned");
                        this.hasTurned = true;
                    }
                }
                this.updateCSS();
            }, 30);
        }

        turn() {
            if (this.turning_side === "left") {
                const [x, y] = this.moving_axis;
                this.moving_axis = [y, -x];
            } else if (this.turning_side === "right") {
                const [x, y] = this.moving_axis;
                this.moving_axis = [-y, x];
            }
        }

        stop() {
            if (!this.crossed) {
                clearInterval(this.interval);
                this.interval = null;
            }
        }
    }

    for (let i = 0; i < v_c[0]; i++) {
        vehicles[0][i] = new Car("n" + i.toString(), 'n');
    }

    for (let i = 0; i < v_c[1]; i++) {
        vehicles[1][i] = new Car("e" + i.toString(), 'e');
    }

    for (let i = 0; i < v_c[2]; i++) {
        vehicles[2][i] = new Car("s" + i.toString(), 's');
    }

    for (let i = 0; i < v_c[3]; i++) {
        vehicles[3][i] = new Car("w" + i.toString(), 'w');
    }



    function indexOfMax(arr) {
        let maxIndex = 0;
        for (let i = 1; i < arr.length; i++) {
            if (arr[i] > arr[maxIndex]) {
                maxIndex = i;
            }
        }
        return maxIndex;
    }

    body.innerHTML += `
  
  <div class="traffic-light-container" id="tl3">
      <div class="light" id="tl3l">↑</div>
      <div class="light" id="tl3s">→</div>
      <div class="light" id="tl3r">↓</div>
  </div>

  <div class="traffic-light-container" id="tl0">
      <div class="light" id="tl0l">↑</div>
      <div class="light" id="tl0s">→</div>
      <div class="light" id="tl0r">↓</div>
  </div>

  <div class="traffic-light-container" id="tl1">
      <div class="light" id="tl1l">↑</div>
      <div class="light" id="tl1s">→</div>
      <div class="light" id="tl1r">↓</div>
  </div>

  <div class="traffic-light-container" id="tl2">
      <div class="light" id="tl2l">↑</div>
      <div class="light" id="tl2s">→</div>
      <div class="light" id="tl2r">↓</div>
  </div>

  
  <button id="run" onclick=run()>Run</button>
  `;

    function lights_off() {
        for (let i = 0; i < 4; i++) {

            let l = document.getElementById(`tl${i}l`);
            let s = document.getElementById(`tl${i}s`);
            let r = document.getElementById(`tl${i}r`);

            l.style.backgroundColor = "red";
            s.style.backgroundColor = "red";
            r.style.backgroundColor = "red";

        }
    }

    function run() {
        document.getElementById("run").disabled = true;

        let prv = null;
        let idx = indexOfMax(v_c);
        let mn = Math.min(...v_c);
        let mx = Math.max(...v_c);
        let a = null;
        let b = 0;
        // console.log(prv != idx);
        let main = setInterval(() => {


            lights_off();

            let l = document.getElementById(`tl${idx}l`);
            let s = document.getElementById(`tl${idx}s`);
            let r = document.getElementById(`tl${idx}r`);


            l.style.backgroundColor = "green";
            s.style.backgroundColor = "green";
            r.style.backgroundColor = "green";

            for (let i = 0; i < vehicles[idx].length; i++) {
                vehicles[idx][i].move();

            }
            console.log("vcs:", v_c);

            if (v_c[idx] <= mn) {
                for (let i = 0; i < vehicles[idx].length; i++) {
                    vehicles[idx][i].stop();
                    // console.log("m:", vehicles[idx][i].position, vehicles[idx][i].id);

                }
                idx = indexOfMax(v_c);
                mn = Math.min(...v_c);
                let mx = Math.max(...v_c);

                l = document.getElementById(`tl${idx}l`);
                s = document.getElementById(`tl${idx}s`);
                r = document.getElementById(`tl${idx}r`);


                l.style.backgroundColor = "orange";
                s.style.backgroundColor = "orange";
                r.style.backgroundColor = "orange";

            }



            if (mx <= 0) {
                clearInterval(main);
                for (let i = 0; i < vehicles[idx].length; i++) {
                    vehicles[idx][i].stop();
                    // console.log("m:", vehicles[idx][i].position, vehicles[idx][i].id);

                }


            }


        }, 2500);
    }
    document.querySelectorAll('.upload-box').forEach(div => {
        div.addEventListener('click', function () {
            const targetInputId = div.getAttribute('data-target');
            document.getElementById(targetInputId).click();
        });
    });

    // Handle file input change
    document.querySelectorAll('.file-input').forEach(input => {
        input.addEventListener('change', function (e) {
            const targetImage = document.getElementById('preview' + e.target.id.slice(-1)); // e.target.id corresponds to imageInput1, etc.
            const reader = new FileReader();
            reader.onload = function (event) {
                targetImage.src = event.target.result;
            };
            reader.readAsDataURL(e.target.files[0]);
        });
    });

    // Handle form submission
    const uploadForm = document.getElementById('uploadForm');
    uploadForm.onsubmit = function (e) {
        e.preventDefault();
        const formData = new FormData(uploadForm);

        fetch('process_images/', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                const resultsContainer = document.getElementById('results');
                resultsContainer.innerHTML = '';
                data.vehicle_counts.forEach((count, index) => {
                    const resultText = `Image ${index + 1}: ${count} vehicles detected.`;
                    const resultDiv = document.createElement('div');
                    resultDiv.textContent = resultText;
                    resultsContainer.appendChild(resultDiv);
                });
            })
            .catch(error => {
                console.error("Error uploading images:", error);
            });
    };


</script>

{% endblock %}

<!-- JavaScript for handling image upload, selection, and counting -->